/ {
    compatible = "zmk,keymap";

    #include <dt-bindings/zmk/pointing.h>   /* ← NEW */

    #define _BASE   0
    #define _MOUSE  1   /* quick demo layer */

    keymap {
        base {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T   &kp Y  &kp U  &kp I  &kp O  &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G   &kp H  &kp J  &kp K  &kp L  &kp SEMI
                &kp Z  &kp X  &kp C  &kp V  &kp B   &kp N  &kp M  &kp COMMA &kp DOT &kp SLASH
                               /* thumbs */ &kp SPACE  &mo _MOUSE   &kp ENTER  &kp BSPC
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
                &mmv MOVE_LEFT   &mmv MOVE_UP    &mkp LCLK    &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp RCLK
                &none            &msc SCRL_UP    &msc SCRL_DOWN &none         &none            &none
                &none &none &none &none &none   &none &none &none &none &none
                                /* thumbs */  &transparent   &transparent  &transparent  &transparent
            >;
        };
    };
};
